n8n workflow/My workflow ver 1.3.json
{
  "name": "My workflow",
  "nodes": [
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "gpt-3.5-turbo-1106",
          "mode": "list",
          "cachedResultName": "gpt-3.5-turbo-1106"
        },
        "options": {
          "responseFormat": "json_object"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        -1408,
        640
      ],
      "id": "27ff9d37-9b07-4948-bf63-a1503ee5fc32",
      "name": "OpenAI Chat Model",
      "credentials": {
        "openAiApi": {
          "id": "pq6fQF9nmpfxRiIw",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.classification }}",
                    "rightValue": "substitute",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "id": "c8a30a86-a54c-42a5-950b-d911dbe1f050"
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "289ffc8a-6528-43e0-8ef7-f8b9bafd6595",
                    "leftValue": "={{ $json.classification }}",
                    "rightValue": "suggest",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "e0246dc0-bac0-4d86-8848-62896daf6c31",
                    "leftValue": "={{ $json.classification }}",
                    "rightValue": "lookup",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "cdedd7a3-858b-4cfc-815d-2153c0e3dc80",
                    "leftValue": "={{ $json.classification }}",
                    "rightValue": "context",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "2035779e-c528-4db0-aeae-81077858a031",
                    "leftValue": "={{ $json.classification }}",
                    "rightValue": "similar",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "f11c185c-55e8-4c91-9c2a-4a37b5a49eb2",
                    "leftValue": "={{ $json.classification}}",
                    "rightValue": "modify",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "3e33f98a-1c90-47c3-801f-736f41abe98b",
                    "leftValue": "={{ $json.classification }}",
                    "rightValue": "suggest_specific",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "adf74e2f-d7ca-4ae2-b953-f8bdd9cd19fe",
                    "leftValue": "={{ $json.classification }}",
                    "rightValue": "context_natural",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "4348b024-97a7-48c2-91ec-44dc4a584a65",
                    "leftValue": "={{ $json.classification}}",
                    "rightValue": "recipe_custom",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "903f7429-fb1b-4967-ad21-02fd0ffd8548",
                    "leftValue": "={{ $json.classification }}",
                    "rightValue": "other",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              }
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.2,
      "position": [
        -672,
        320
      ],
      "id": "9ae9ac8d-1da7-4c84-b4ee-f1014620add8",
      "name": "Switch"
    },
    {
      "parameters": {
        "jsCode": "// Get the AI response\nconst aiResponse = $('Classify AI Agent').first().json.output;\n\ntry {\n  // Parse the JSON string\n  const parsedResponse = JSON.parse(aiResponse);\n  \n  // Validate and map structure including new fields\n  const result = {\n    classification: parsedResponse.classification || \"other\",\n    entities: {\n      ingredient: parsedResponse.entities?.ingredient || null,\n      replacement: parsedResponse.entities?.replacement || null, // Added for 'modify' intent\n      recipe: parsedResponse.entities?.recipe || null,\n      ingredients: parsedResponse.entities?.ingredients || null,\n      situation: parsedResponse.entities?.situation || null,     // Added for 'suggest' intent\n      description: parsedResponse.entities?.description || null,\n      substitutes:parsedResponse.entities?.substitutes || null,\n      attributes: {\n        taste: parsedResponse.entities?.attributes?.taste || null,\n        texture: parsedResponse.entities?.attributes?.texture || null,\n        color: parsedResponse.entities?.attributes?.color || null,\n        method: parsedResponse.entities?.attributes?.method || null\n      }\n    },\n    confidence: parsedResponse.confidence || 0.0\n  };\n  \n  return { json: result };\n  \n} catch (error) {\n  // Fallback if JSON parsing fails\n  return { \n    json: {\n      classification: \"other\",\n      entities: {\n        ingredient: null,\n        replacement: null, \n        recipe: null,\n        ingredients: null,\n        situation: null,   \n        description: null,\n        substitutes: null,\n        attributes: {\n          taste: null,\n          texture: null,\n          color: null,\n          method: null\n        }\n      },\n      confidence: 0.0,\n      error: \"Failed to parse AI response\"\n    }\n  };\n}"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -992,
        448
      ],
      "id": "4bc4708e-3d79-4928-bb81-f31f11f771f7",
      "name": "Code in JavaScript"
    },
    {
      "parameters": {
        "contextWindowLength": 15
      },
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.3,
      "position": [
        -1312,
        800
      ],
      "id": "8d030c06-46ca-4d1c-ab8e-707e44721072",
      "name": "Simple Memory"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "mode": "list",
          "value": "gpt-4.1-mini"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        -192,
        1648
      ],
      "id": "db0027bb-c564-4a1d-931e-2a849b62e893",
      "name": "OpenAI Chat Model1",
      "credentials": {
        "openAiApi": {
          "id": "pq6fQF9nmpfxRiIw",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://0.0.0.0:8080/substitute",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "=ingredient",
              "value": "={{ $json.entities.ingredient }}"
            },
            {
              "name": "recipe",
              "value": "={{ $json.entities.recipe }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -160,
        -352
      ],
      "id": "df2d8b88-c29e-4b5e-b90a-7cc0b3f1584f",
      "name": "Substitution"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://0.0.0.0:8080/lookup",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "recipe",
              "value": "={{ $json.entities.recipe }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -144,
        48
      ],
      "id": "59952495-083e-4375-a32e-75c4b84bba15",
      "name": "Recipe Lookup"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://0.0.0.0:8080/context",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "taste",
              "value": "={{ $json.entities.attributes.taste || \"\"}}"
            },
            {
              "name": "texture",
              "value": "={{ $json.entities.attributes.texture || \"\" }}"
            },
            {
              "name": "color",
              "value": "={{ $json.entities.attributes.color || \"\" }}"
            },
            {
              "name": "cooking_method",
              "value": "={{ $json.entities.attributes.method || \"\" }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -144,
        256
      ],
      "id": "b52475a3-f44d-4fe8-bd2c-6e7bc0d5c373",
      "name": "Context Ingredients"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://0.0.0.0:8080/suggest",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "=ingredients",
              "value": "={{ $json.entities.ingredients }}"
            },
            {
              "name": "session_id",
              "value": "={{ $('When chat message received').item.json.sessionId }}"
            },
            {
              "name": "message_id",
              "value": "={{ $('When chat message received').item.json.messageId }}"
            },
            {
              "name": "user_message",
              "value": "={{ $('When chat message received').item.json.chatInput }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -144,
        -144
      ],
      "id": "c2ed3ba1-0fff-4d15-9237-3519f6b79305",
      "name": "Recipe Suggestion"
    },
    {
      "parameters": {
        "respondWith": "allIncomingItems",
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.4,
      "position": [
        1024,
        496
      ],
      "id": "5afc57af-7134-4ae6-877a-0c2ff5821033",
      "name": "Context  Respond"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.chatInput }}",
        "options": {
          "systemMessage": "You are a recipe chatbot AI agent that performs both intent classification and entity extraction in a single response.\n\nTASK: Analyze user messages and return structured JSON with classification and extracted entities.\n\nCLASSIFICATION CATEGORIES:\n1. \"substitute\" (/substitute) - User wants to know what they can use instead of an ingredient (General inquiry).\n2. \"suggest\" (/suggest) - User wants recipe ideas based only on a list of ingredients.\n3. \"suggest_specific\" (/suggest_specific) - User wants recipe ideas based on ingredients PLUS a specific context/situation (e.g., \"healthy\", \"dinner\", \"quick\").\n4. \"lookup\" (/lookup) - User wants details (ingredients/steps) for a specific known dish.\n5. \"context\" (/context) - User provides structured attributes (taste, texture, color) to identify an ingredient.\n6. \"context_natural\" (/context_natural) - User provides a natural language description or sentence to identify an ingredient.\n7. \"similar\" (/similar) - User wants to find recipes that are similar to a specific dish.\n8. \"modify\" (/rewrite) - User wants to rewrite a recipe by swapping one specific ingredient for another (Old vs New).\n9. \"recipe_custom\" (/recipe_custom) - User wants to customize a recipe with multiple substitutes or general additions without specifying what to remove.\n10. \"other\" (/other) - Message doesn't fit cooking/recipe context.\n\n**ENTITY EXTRACTION RULES:**\nFor \"substitute\" classification:\n- Extract \"ingredient\": the item to be replaced.\n- Extract \"recipe\": the context dish (if mentioned).\n- Set others to null.\n\nFor \"suggest\" classification:\n- Extract \"ingredients\": list of available ingredients.\n- Extract \"situation\": any constraints or context mentioned (e.g., \"for dinner\", \"healthy\", \"vegan\", \"low carb\").\n- Set others to null.\n\nFor \"suggest_specific\" classification:\n- Extract \"ingredients\": list of available ingredients user mentions.\n- Extract \"situation\": any constraints or context mentioned (e.g., \"for dinner\", \"healthy\", \"vegan\", \"low carb\").\n- Set others to null.\n\nFor \"lookup\" classification:\n- Extract \"recipe\": the specific dish name.\n- Set others to null.\n\nFor \"context\" classification:\n- Extract \"attributes\": structured details (taste, texture, color, method).\n- Extract \"description\": the raw natural language description provided by the user (captures the full phrase).\n- Set others to null.\n\nFor \"context_natural\" classification:\n- Extract \"description\": the raw natural language description provided by the user (captures the full phrase).\n- Set others to null.\n\nFor \"similar\" classification:\n- Extract \"recipe\": the dish the user wants to find matches for.\n- Set others to null.\n\nFor \"modify\" classification:\n- Extract \"recipe\": the dish to customize.\n- Extract \"ingredient\": the old ingredient to remove/replace.\n- Extract \"replacement\": the new ingredient to add/use.\n\nFor \"recipe_custom\" classification:\n- Extract \"recipe\": the dish to customize.\n- Extract \"substitutes\": list of new ingredients to add or use.\n- Set others to null.\n\nSet others to null.\n- For \"other\" classification:\n- Set all entities to null.\n\nRESPONSE FORMAT (MUST be valid JSON):\nJSON:\n{\n  \"classification\": \"string\",  // One of the categories above\n  \"entities\": {\n    \"recipe\": \"string or null\",\n    \"ingredient\": \"string or null\",       // Old ingredient (for modify/substitute)\n    \"replacement\": \"string or null\",      // New ingredient (single, for modify)\n    \"substitutes\": [\"array\"] or null,     // List of new ingredients (for recipe_custom)\n    \"ingredients\": [\"array\"] or null,     // Available ingredients (for suggest)\n    \"situation\": \"string or null\",        // Context (e.g., \"dinner\", \"healthy\")\n    \"description\": \"string or null\",      // Natural description (for context_natural)\n    \"attributes\": {\n       \"taste\": \"string or null\",\n       \"texture\": \"string or null\",\n       \"color\": \"string or null\",\n       \"method\": \"string or null\"\n    }\n  },\n  \"confidence\": 0.0-1.0\n}\n\n**CLASSIFICATION GUIDELINES:**\nSUBSTITUTE (General Inquiry):\n- Keywords: \"substitute\", \"alternative\", \"what can I use instead\", \"swap\".\n- Focus: Asking for options to replace something.\n- Example: \"What is a substitute for milk?\"\n\nSUGGEST (Discovery):\n- Keywords: \"make\", \"cook\", \"recipes with\", \"I have X\", \"ideas for dinner\".\n- Focus: Finding new recipes based on a list of items or a situation.\n- Note: Captures specific contexts like \"healthy\" or \"for breakfast\".\n\nLOOKUP (Information):\n- Keywords: \"how to make\", \"recipe for\", \"ingredients in\", \"details\".\n- Focus: Getting standard instructions for a known dish.\n\nCONTEXT (Identification):\n- Keywords: \"what is this\", \"looks like\", \"tastes like\", \"green vegetable\".\n- Focus: User describes an ingredient they can't name.\n\nSIMILAR (Recommendation):\n- Keywords: \"similar to\", \"like\", \"dishes like\", \"resembles\".\n- Focus: Finding a recipe comparable to another specific recipe.\n- Example: \"Show me recipes similar to Lasagna.\"\n\nMODIFY (Customization/Rewrite):\n- Keywords: \"rewrite\", \"custom version\", \"make X using Y instead of Z\", \"recipe with changes\".\n- Focus: Requesting a full recipe text that has been altered with specific swaps.\n- Example: \"Give me a pancake recipe using bananas instead of eggs.\"\n\nOTHER:\n- Greetings, weather, non-food queries.\n\n**CLASSIFICATION GUIDELINES (Priority Rules):**\n1. Suggest vs. Suggest Specific:\n- If the user mentions only ingredients (\"I have eggs and flour\"), classify as \"suggest\".\n- If the user mentions ingredients AND a constraint/occasion (\"...for a healthy breakfast\", \"...that is spicy\"), classify as \"suggest_specific\".\n\n2. Context vs. Context Natural:\n- If the user gives a descriptive sentence (\"What is the green crunchy thing in salad?\"), classify as \"context_natural\".\n- Only use \"context\" if the user explicitly lists distinct attributes separately (rare). Default to \"context_natural\" for descriptions.\n\n3. Modify vs. Recipe Custom:\n- If the user specifies a clear \"swap X for Y\" (1-to-1 replacement), classify as \"modify\".\n- If the user lists multiple items to add/use (\"Make pancakes using bananas, oat milk, and honey\"), classify as \"recipe_custom\".\n\n**CONFIDENCE SCORING:**\n0.9-1.0: Precise intent and entities.\n0.7-0.8: Clear intent, minor ambiguity.\n0.5-0.6: Unclear intent or missing key entities.\n< 0.5: Ambiguous.\n\nEXAMPLES:\n\nCategory: *SUBSTITUTE*\nInput: \"I need to substitute eggs in my chocolate cake.\" Output: {\"classification\": \"substitute\", \"entities\": {\"ingredient\": \"eggs\", \"replacement\": null, \"recipe\": \"chocolate cake\", \"ingredients\": null, \"situation\": null, \"description\": null, \"attributes\": {\"taste\": null, \"texture\": null, \"color\": null, \"method\": null}}, \"confidence\": 0.95}\n\nInput: \"Is there a good alternative for heavy cream?\" \nOutput: {\"classification\": \"substitute\", \"entities\": {\"ingredient\": \"heavy cream\", \"replacement\": null, \"recipe\": null, \"ingredients\": null, \"situation\": null, \"description\": null, \"attributes\": {\"taste\": null, \"texture\": null, \"color\": null, \"method\": null}}, \"confidence\": 0.9}\n\nCategory: *SUGGEST*\nInput: \"I have chicken and rice, what can I make for a quick dinner?\" \nOutput: {\"classification\": \"suggest\", \"entities\": {\"ingredient\": null, \"replacement\": null, \"recipe\": null, \"ingredients\": [\"chicken\", \"rice\"], \"situation\": \"quick dinner\", \"description\": null, \"attributes\": {\"taste\": null, \"texture\": null, \"color\": null, \"method\": null}}, \"confidence\": 0.95}\n\nInput: \"Give me some keto recipes using spinach.\" \nOutput: {\"classification\": \"suggest\", \"entities\": {\"ingredient\": null, \"replacement\": null, \"recipe\": null, \"ingredients\": [\"spinach\"], \"situation\": \"keto\", \"description\": null, \"attributes\": {\"taste\": null, \"texture\": null, \"color\": null, \"method\": null}}, \"confidence\": 0.9}\n\nCategory: *LOOKUP*\nInput: \"How do I cook Pad Thai?\" \nOutput: {\"classification\": \"lookup\", \"entities\": {\"ingredient\": null, \"replacement\": null, \"recipe\": \"Pad Thai\", \"ingredients\": null, \"situation\": null, \"description\": null, \"attributes\": {\"taste\": null, \"texture\": null, \"color\": null, \"method\": null}}, \"confidence\": 0.95}\n\nInput: \"What are the ingredients for Beef Wellington?\" \nOutput: {\"classification\": \"lookup\", \"entities\": {\"ingredient\": null, \"replacement\": null, \"recipe\": \"Beef Wellington\", \"ingredients\": null, \"situation\": null, \"description\": null, \"attributes\": {\"taste\": null, \"texture\": null, \"color\": null, \"method\": null}}, \"confidence\": 0.95}\n\nCategory: *CONTEXT*\nInput: \"What is that red fruit that tastes sour?\" \nOutput: {\"classification\": \"context\", \"entities\": {\"ingredient\": null, \"replacement\": null, \"recipe\": null, \"ingredients\": null, \"situation\": null, \"description\": \"red fruit that tastes sour\", \"attributes\": {\"taste\": \"sour\", \"texture\": null, \"color\": \"red\", \"method\": null}}, \"confidence\": 0.9}\n\nInput: \"I need an ingredient that is crunchy and green for a salad.\" \nOutput: {\"classification\": \"context\", \"entities\": {\"ingredient\": null, \"replacement\": null, \"recipe\": null, \"ingredients\": null, \"situation\": null, \"description\": \"crunchy and green for a salad\", \"attributes\": {\"taste\": null, \"texture\": \"crunchy\", \"color\": \"green\", \"method\": null}}, \"confidence\": 0.85}\n\nCategory: *SIMILAR*\nInput: \"Show me recipes similar to Carbonara.\" \nOutput: {\"classification\": \"similar\", \"entities\": {\"ingredient\": null, \"replacement\": null, \"recipe\": \"Carbonara\", \"ingredients\": null, \"situation\": null, \"description\": null, \"attributes\": {\"taste\": null, \"texture\": null, \"color\": null, \"method\": null}}, \"confidence\": 0.95}\n\nInput: \"I love Tom Yum Kung, what else is like that?\" \nOutput: {\"classification\": \"similar\", \"entities\": {\"ingredient\": null, \"replacement\": null, \"recipe\": \"Tom Yum Kung\", \"ingredients\": null, \"situation\": null, \"description\": null, \"attributes\": {\"taste\": null, \"texture\": null, \"color\": null, \"method\": null}}, \"confidence\": 0.9}\n\nCategory: *MODIFY*\nInput: \"I want to make Lasagna but use zucchini instead of pasta sheets.\" \nOutput: {\"classification\": \"modify\", \"entities\": {\"ingredient\": \"pasta sheets\", \"replacement\": \"zucchini\", \"recipe\": \"Lasagna\", \"ingredients\": null, \"situation\": null, \"description\": null, \"attributes\": {\"taste\": null, \"texture\": null, \"color\": null, \"method\": null}}, \"confidence\": 0.9}\n\nInput: \"Rewrite the brownie recipe using applesauce in place of oil.\" \nOutput: {\"classification\": \"modify\", \"entities\": {\"ingredient\": \"oil\", \"replacement\": \"applesauce\", \"recipe\": \"brownie\", \"ingredients\": null, \"situation\": null, \"description\": null, \"attributes\": {\"taste\": null, \"texture\": null, \"color\": null, \"method\": null}}, \"confidence\": 0.95}\n\nCategory: *SUGGEST_SPECIFIC* \nInput: \"I need a vegan dinner recipe using tofu and broccoli.\" Output: {\"classification\": \"suggest_specific\", \"entities\": {\"ingredients\": [\"tofu\", \"broccoli\"], \"situation\": \"vegan dinner\", \"recipe\": null, \"ingredient\": null, \"replacement\": null, \"substitutes\": null, \"description\": null, \"attributes\": {\"taste\": null, \"texture\": null, \"color\": null, \"method\": null}}, \"confidence\": 0.98}\n\nInput: \"What can I make with eggs and milk that is gluten-free?\" \nOutput: {\"classification\": \"suggest_specific\", \"entities\": {\"ingredients\": [\"eggs\", \"milk\"], \"situation\": \"gluten-free\", \"recipe\": null, \"ingredient\": null, \"replacement\": null, \"substitutes\": null, \"description\": null, \"attributes\": {\"taste\": null, \"texture\": null, \"color\": null, \"method\": null}}, \"confidence\": 0.95}\n\nCategory: *CONTEXT_NATURAL *\nInput: \"What is the spice that smells like licorice?\" \nOutput: {\"classification\": \"context_natural\", \"entities\": {\"description\": \"spice that smells like licorice\", \"recipe\": null, \"ingredient\": null, \"replacement\": null, \"substitutes\": null, \"ingredients\": null, \"situation\": null, \"attributes\": {\"taste\": null, \"texture\": null, \"color\": null, \"method\": null}}, \"confidence\": 0.95}\n\nInput: \"I am looking for a leafy green that is bitter when cooked.\" \nOutput: {\"classification\": \"context_natural\", \"entities\": {\"description\": \"leafy green that is bitter when cooked\", \"recipe\": null, \"ingredient\": null, \"replacement\": null, \"substitutes\": null, \"ingredients\": null, \"situation\": null, \"attributes\": {\"taste\": \"bitter\", \"texture\": null, \"color\": \"green\", \"method\": \"cooked\"}}, \"confidence\": 0.9}\n\nCategory: *RECIPE_CUSTOM*\nInput: \"Make a customized pizza recipe with pineapple, ham, and extra cheese.\" \nOutput: {\"classification\": \"recipe_custom\", \"entities\": {\"recipe\": \"pizza\", \"substitutes\": [\"pineapple\", \"ham\", \"extra cheese\"], \"ingredient\": null, \"replacement\": null, \"ingredients\": null, \"situation\": null, \"description\": null, \"attributes\": {\"taste\": null, \"texture\": null, \"color\": null, \"method\": null}}, \"confidence\": 0.95}\n\nInput: \"I want a burger recipe using turkey patty and avocado.\" \nOutput: {\"classification\": \"recipe_custom\", \"entities\": {\"recipe\": \"burger\", \"substitutes\": [\"turkey patty\", \"avocado\"], \"ingredient\": null, \"replacement\": null, \"ingredients\": null, \"situation\": null, \"description\": null, \"attributes\": {\"taste\": null, \"texture\": null, \"color\": null, \"method\": null}}, \"confidence\": 0.9}\n\nCategory: *OTHER*\nInput: \"Hello, are you a robot?\" \nOutput: {\"classification\": \"other\", \"entities\": {\"ingredient\": null, \"replacement\": null, \"recipe\": null, \"ingredients\": null, \"situation\": null, \"description\": null, \"attributes\": {\"taste\": null, \"texture\": null, \"color\": null, \"method\": null}}, \"confidence\": 0.9}\n\nIMPORTANT:\n- Return JSON in a single line.\n- Do not include markdown formatting like *JSON*\" in the final output.\n- Map distinct user intents to the specific categories defined above."
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2.2,
      "position": [
        -1408,
        448
      ],
      "id": "05ebebfc-55a3-4636-a9b6-a4e2451a120e",
      "name": "Classify AI Agent"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $('When chat message received').item.json.chatInput }}",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2.2,
      "position": [
        -176,
        1408
      ],
      "id": "1983e162-2e0a-4686-9f64-940d8276dc30",
      "name": "Conversational AI Agent"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.4,
      "position": [
        368,
        1408
      ],
      "id": "ab539a54-9788-47be-a59e-0b3f2e59c149",
      "name": "Respond"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={\n  \"chatInput\": {{ $('When chat message received').item.json.chatInput }}\n  \"modelOutput\": {{ $json.toJsonString() }}\n}\n",
        "options": {
          "systemMessage": "You are the final response generator for the AltEat chatbot.\n\nYOUR TASK:\nYou will receive:\n1. The user's original message (chatInput)\n2. The processed result from the food substitution / recipe model (modelOutput)\n\nYour job is to convert modelOutput into a friendly, helpful, human-like response that matches the user's language.\n\nLANGUAGE RULE:\n- Always respond in the SAME language as the user.\n- If user writes in Thai → respond in Thai.\n- If user writes in English → respond in English.\n- If user mixes languages, follow the dominant language.\n\nRESPONSE RULES:\n- Do NOT output JSON.\n- Do NOT repeat internal fields like “success”, “type”, or raw JSON keys.\n- Convert the result into a natural conversation style.\n- Be concise, polite, and helpful—like ChatGPT.\n- Use clean formatting:\n  - Numbered list for substitutes or recipes\n  - Short helpful explanation\n\nINTERPRETING THE MODEL RESULT:\nIf modelOutput.type == \"ingredient_substitutes\":\n  - Explain substitutes clearly and naturally.\n  - Example (TH): “ถ้าไม่มีกะไก่ คุณสามารถใช้วัตถุดิบเหล่านี้แทนได้…”\n  - Do NOT add ingredients that are not in the model output.\n\nIf modelOutput.type == \"recipe_suggestions\":\n  - Present recipe suggestions clearly.\n  - Include name + ingredient list (if provided).\n\nIf modelOutput contains no usable data:\n  - Give a polite fallback: “ขออภัย ฉันไม่พบข้อมูลค่ะ ลองอธิบายเพิ่มเติมได้ไหม?”\n\nTONE:\n- Friendly, helpful, natural.\n- Do NOT speak like a system.\n- Do NOT mention you are an AI agent.\n\nFINAL OUTPUT:\n- Only return the final user-visible message.\n- No JSON. No metadata."
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2.2,
      "position": [
        464,
        480
      ],
      "id": "8c30bcf4-27fe-45ed-9253-0248138e857c",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "mode": "list",
          "value": "gpt-4.1-mini"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        464,
        640
      ],
      "id": "01b6a81e-5db1-41ae-95d0-ac7b40a30609",
      "name": "OpenAI Chat Model2",
      "credentials": {
        "openAiApi": {
          "id": "pq6fQF9nmpfxRiIw",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "contextWindowLength": 15
      },
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.3,
      "position": [
        560,
        688
      ],
      "id": "c3a1b9f1-2749-41fd-a0be-03b979d18fd4",
      "name": "Simple Memory1"
    },
    {
      "parameters": {
        "contextWindowLength": 15
      },
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.3,
      "position": [
        -96,
        1632
      ],
      "id": "e74d9c36-9e32-405d-b415-ab0aced47885",
      "name": "Simple Memory2"
    },
    {
      "parameters": {
        "public": true,
        "mode": "webhook",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.chatTrigger",
      "typeVersion": 1.3,
      "position": [
        -1680,
        448
      ],
      "id": "1b49cb40-6b77-4ffc-adb0-efd89de44e52",
      "name": "When chat message received",
      "webhookId": "f5e289b6-4914-4c86-ade9-b5a99970a807",
      "executeOnce": false,
      "alwaysOutputData": false
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://0.0.0.0:8080/similar",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "=recipe",
              "value": "={{ $json.entities.recipe }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        -144,
        480
      ],
      "id": "2e09319c-e770-4454-af08-dd6f2de09069",
      "name": "similar"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://0.0.0.0:8080/rewrite",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "recipe",
              "value": "={{ $json.entities.recipe }}"
            },
            {
              "name": "old_ingredient",
              "value": "={{ $json.entities.ingredient }}"
            },
            {
              "name": "new_ingredient",
              "value": "={{ $json.entities.replacement }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        -144,
        656
      ],
      "id": "6a7165a5-1679-4fbd-9816-a2df1531e7bf",
      "name": "Modify Recipe With new ingredient"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://0.0.0.0:8080/recipe_custom",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "recipe",
              "value": "={{ $json.entities.recipe }}"
            },
            {
              "name": "substitutes",
              "value": "={{ $json.entities.substitutes }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        -144,
        1216
      ],
      "id": "0d4155d5-52f5-4387-84f4-9ef4eb136f2c",
      "name": "Recipe_custom"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://0.0.0.0:8080/suggest_specific",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "required_ingredients",
              "value": "={{ $json.entities.ingredients }}"
            },
            {
              "name": "context",
              "value": "={{ $json.entities.situation }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        -144,
        864
      ],
      "id": "c1fcf1e4-9e47-4c6b-b129-c6251d23dcaf",
      "name": "Suggest Specific",
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=http://0.0.0.0:8080/context_natural",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "description",
              "value": "={{ $json.entities.description }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        -144,
        1040
      ],
      "id": "c7650990-0a3f-4624-bf21-fbcd4a2b5ece",
      "name": "Context Natural"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "75537375-09c9-46af-8d7a-3e436d3ab3d5",
              "leftValue": "={{ $json.recipes[0].id }}",
              "rightValue": 0,
              "operator": {
                "type": "number",
                "operation": "notEmpty",
                "singleValue": true
              }
            },
            {
              "id": "0d1753ae-c2ed-40f7-b761-c006d5b30fc3",
              "leftValue": "={{ $json.recipes[0].image }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "notEmpty",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        64,
        -144
      ],
      "id": "f5d7bce1-c7af-4d6a-89b9-f16667f90056",
      "name": "If"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={\n  \"chatInput\": {{ $('When chat message received').item.json.chatInput }}\n  \"modelOutput\": {{ $json.toJsonString() }}\n}\n",
        "options": {
          "systemMessage": "You are a state-aware recipe assistant.\n\nWhen you receive a message of type \"recipe_list\":\n1. Read the recipe_index array.\n2. Generate a short, user-friendly list of recipe names.\n3. Internally remember the following state:\n   - recipe_index (id → name mapping)\n   - the order of recipes as shown\n\nYou MUST store this state mentally so that:\n- \"first one\" = recipe_index[0]\n- \"second one\" = recipe_index[1]\n- \"that recipe\" refers to the most recently selected recipe\n\nWhen the user later refers indirectly (e.g. \"first one\", \"that one\"):\n- Resolve the reference using the stored recipe_index\n- Do NOT guess\n- If resolution is impossible, ask for clarification\n\nNever invent recipes.\nNever switch to unrelated recipes.\nAlways stay within the current recipe selection flow unless explicitly told otherwise.\n\nDo not expose internal state unless asked."
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2.2,
      "position": [
        768,
        -160
      ],
      "id": "d387521e-7a76-4ef0-acc3-28a01766acee",
      "name": "AI Agent1"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "mode": "list",
          "value": "gpt-4.1-mini"
        },
        "responsesApiEnabled": false,
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.3,
      "position": [
        752,
        48
      ],
      "id": "116984c1-9695-4679-8d61-08ae22a6af10",
      "name": "OpenAI Chat Model3",
      "credentials": {
        "openAiApi": {
          "id": "pq6fQF9nmpfxRiIw",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "={{ $('When chat message received').item.json.sessionId }}"
      },
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.3,
      "position": [
        864,
        112
      ],
      "id": "0581d713-a761-461b-861e-50e073f2bacc",
      "name": "Simple Memory3"
    },
    {
      "parameters": {
        "mode": "runOnceForEachItem",
        "jsCode": "// Your input is an array with one object that contains \"recipes\"\nconst data = $json.recipes;\n\nconst recipeIndex = data.map((r, index) => ({\n  id: index + 1,  \n  name: r.name\n}));\n\nreturn {\n  json: {\n    recipe_index: recipeIndex\n  }\n};\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        416,
        -160
      ],
      "id": "e2e7894d-07bd-431d-89da-7f979d73e1bf",
      "name": "Code in JavaScript1"
    }
  ],
  "pinData": {
    "When chat message received": [
      {
        "json": {
          "sessionId": "50be6faaaf5c4c56a880ab267fa93c97",
          "action": "sendMessage",
          "chatInput": "I have nutmeg ginger sugar pears"
        }
      }
    ]
  },
  "connections": {
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "Classify AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Switch": {
      "main": [
        [
          {
            "node": "Substitution",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Recipe Suggestion",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Recipe Lookup",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Context Ingredients",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "similar",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Modify Recipe With new ingredient",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Suggest Specific",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Context Natural",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Recipe_custom",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Conversational AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript": {
      "main": [
        [
          {
            "node": "Switch",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Simple Memory": {
      "ai_memory": [
        [
          {
            "node": "Classify AI Agent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model1": {
      "ai_languageModel": [
        [
          {
            "node": "Conversational AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Substitution": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Recipe Lookup": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Context Ingredients": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Recipe Suggestion": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Classify AI Agent": {
      "main": [
        [
          {
            "node": "Code in JavaScript",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Conversational AI Agent": {
      "main": [
        [
          {
            "node": "Respond",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model2": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Simple Memory1": {
      "ai_memory": [
        [
          {
            "node": "AI Agent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "Context  Respond",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Simple Memory2": {
      "ai_memory": [
        [
          {
            "node": "Conversational AI Agent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "When chat message received": {
      "main": [
        [
          {
            "node": "Classify AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "similar": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Modify Recipe With new ingredient": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Recipe_custom": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Suggest Specific": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Recipe Suggestion",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Context Natural": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "Code in JavaScript1",
            "type": "main",
            "index": 0
          },
          {
            "node": "Context  Respond",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model3": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent1",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Simple Memory3": {
      "ai_memory": [
        [
          {
            "node": "AI Agent1",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript1": {
      "main": [
        [
          {
            "node": "AI Agent1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent1": {
      "main": [
        []
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "availableInMCP": false,
    "timeSavedMode": "fixed",
    "callerPolicy": "workflowsFromSameOwner"
  },
  "versionId": "d28c901f-e7e0-42ba-b262-7149239305aa",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "2edc76cc77c19c1265ff5657eebf603b3535cc0fdcb9dfa0475ac1335b0cc9cf"
  },
  "id": "PBGJaUxdEEZ4_j0YmXAZ3",
  "tags": []
}